/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed!important;
    left: 0;
}


/*
*/


/*Slider
*/

#sidr {
    background: #1693BD;
    box-shadow: 0 0 5px 5px #2892B1 inset;
}

#menu-destination-field,
#origin-field {
    width: 95%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#menu-go-button {
    width: 95%;
    margin-left: 2.3%;
}

#mobile-header {
    display: none;
}

.xdsoft_datetimepicker {
    padding: 0!important;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
    width: 196px!important;
    margin-left: 1px!important;
}

.xdsoft_datetimepicker .xdsoft_timepicker {
    width: 60px!important;
    float: left!important;
    text-align: center!important;
    margin-left: 1px!important;
}

.xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker {
    margin-top: 9px!important;
}

.xdsoft_datetimepicker .xdsoft_month {
    width: 70px!important;
    text-align: left!important;
}

.xdsoft_today_button {
    display: none!important;
}

.xdsoft_datetimepicker .xdsoft_year {
    width: 48px!important;
}

#timeInput {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#dateInput {
    text-align: center;
    margin-top: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#search-field {
    position: absolute;
    z-index: 1;
    margin: 0.4%;
    box-sizing: border-box;
    width: 40%
}

.adp {
    color: #FCFEFF;
}

.adp-warnbox {
    display: none;
}

.adp-placemark {
    background: #1DA1FF;
}


#floating-error {
    margin-top:100px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    /*left: 10px;
    bottom: 10px;*/
    z-index: 1000;
}

@media only screen and (max-width: 480px) {
    /*
    #sidr {
        width: 85%;
    }
    .sidr.left {
        left: -85%;
        right: auto;
    }
    */
    #search-field {
        width: 99%;
        
    }
}




